<header class="header">
  <div class="container">
    <div class="header-top-line">
      <p class="header-desc">
        Free 2-day shipping | 30-day money back guarantee
      </p>
    </div>
    <div class="header-wrap">
      <a class="logo" href="#"
        ><img class="header-img" src="./images/Logo.png" alt="logo euro"
      /></a>
      <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-nav-link link current" href="#">Products</a>
          </li>
          <li class="header-item">
            <a class="header-nav-link link" href="#">How it works</a>
          </li>
          <li class="header-item">
            <a class="header-nav-link link" href="#">Technology</a>
          </li>
          <li class="header-item">
            <a class="header-nav-link link" href="#">eero Secure</a>
          </li>
          <li class="header-item">
            <a class="header-nav-link link" href="#">Support</a>
          </li>
          <li class="header-item">
            <a class="header-nav-link link" href="#">Find your system</a>
          </li>
        </ul>
      </nav>
      <a class="header-link link" href="#">Shop</a>
    </div>
  </div>
</header>
